<div class="landing-block">
    <img src="https://user.oc-static.com/upload/2021/11/11/16366495596929_snapface.png" alt="Snapface logo">
    <div class="landing-links">
      <button (click)="onContinue()">Continuer vers Snapface</button>
    </div>
    <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
      <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
      <br>
      <input type="email" id="emailInput" name="userEmail" placeholder="Entrez votre email" [(ngModel)]="userEmail">
      <br>
      <button type="submit"> OK </button>
    </form>
  </div>
